

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.content-list {
  flex: 1;
  padding: 2%;
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0 0 1.5% rgba(0, 0, 0, 0.1);
  margin-right: 2%;
}

.content-details {
  flex: 1;
  padding: 2%;
  background-color: #fff;
  border-radius: 1%;
  box-shadow: 0 0 1.5% rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 2%;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #c82333;
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 1% 0;
  border-radius: 0 0 1% 1%;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border: 0.1% solid #ced4da;
  border-radius: 1%;
  box-sizing: border-box;
}

button[type="submit"],
button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 1%; 
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #0056b3;
}


.navbar {
  background-color: #343a40;
  color: #fff;
  padding: 1% 0;
}

.navbar-brand {
  margin: 0;
  font-size: 1.5vw;
  text-align: center; 
}


.footer {
  background-color: #343a40;
  color: #fff;
  padding: 2% 0;
  text-align: center;
  border-radius: 0 0 0 0; 
}

.container {
  width: 90%;
  margin: 0 auto;
}
